---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---

<header>
  <nav style="position: relative; display: flex; align-items: center; justify-content: space-between;">
    <Hamburger />
    <Navigation />
  </nav>
</header>